# Python
__pycache__/
*.py[cod]

# Django
**/env/
**/media/
**/*.sqlite3
**/chroma_db/

# Secrets
**/.env
**/.env.*

# Node / Angular / Ionic
**/node_modules/
**/.angular/
**/dist/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
